<div class="top">
    <div style="margin-top: 30px; margin-bottom: 150px; width: 500px;" class="card">
        <div class="card-header">Login Page</div>
        <div class="card-body">
            <form>
                
                <button  (click)="userlogin()" class="btn btn-primary"><i class="fa fa-user-circle" aria-hidden="true"></i>&nbsp;&nbsp;User-Login </button>
                &nbsp;&nbsp;
                <button (click)="adminlogin()" class="btn btn-primary"><i class="fas fa-user-cog" aria-hidden="true"></i>&nbsp;&nbsp;Admin-Login</button>
                
            </form>
        </div>
    </div>
    </div>
    
    <style>
        .card-body{
            text-align: center;
        }
        .top{
            padding-top: 150px;
        }
        button{
            width: fit-content;
        }
    </style>