<div class="top">
    <div style="margin-top: 30px; width: 500px;" class="card">
        <div class="card-header">Admin Login</div>
        <div class="card-body">
            <form #f="ngForm" (ngSubmit)="Loginsubmit()" novalidate>
                <div class="form-group">
                    <label for="loginUsername">Username</label>
                    <input type="text" name="user_name" ngModel required #user_name="ngModel" class="form-control" [(ngModel)]="User.user_name"
                        id="user_name" placeholder="Enter admin username">
                </div>

                <div *ngIf=" user_name.invalid && (f.submitted || user_name.touched)"
                class="alert alert-danger">
                <div *ngIf="user_name.errors?.required"> Username is required. </div>
            </div>

                <div class="form-group">
                    <label for="loginPassword">Password</label>
                    <input type="password" name="user_password" ngModel required #user_password="ngModel" class="form-control" [(ngModel)]="User.user_password"
                        id="user_password" placeholder="Enter Password">
                </div>

                <div *ngIf=" user_password.invalid && (f.submitted || user_password.touched)"
                class="alert alert-danger">
                <div *ngIf="user_password.errors?.required"> Password is required. </div>
            </div>

                <button type="submit"  class="btn btn-primary">Login </button>
            </form>
        </div>
    </div>
    </div>
    <style>
      .top{
          padding-top:100px;
      }  
    </style>
