<div id="activation_div">
    <h2>Activate User's Account</h2>
    <div id="radio_div">
        
            <table id="radio_table">
                <tr>
                    <th><input type="radio" id="cardtype" name="cardtype">&nbsp;<span style="position: fixed;" >YES</span></th>
                    <th><input type="radio" id="cardtype" name="cardtype">&nbsp;<span style="position: fixed;">NO</span></th>
                </tr>
            </table>
        
        <br>

        <input type="button" value="SUBMIT" id="btn_submit">
        
    </div>

</div>
