<div style="background-image: url('../../assets/bg_1.jpeg');">
    <div class="topnav">
      <table id="nav_table">
        <tr>
        <th><a routerLink="/Register"><span style="color:black;font-family: sans-serif;font-size: 20px;">REGISTER</span></a></th>
        <th><a routerLink="/Login"><span style="color:black;font-family: sans-serif;font-size: 20px;">LOGIN</span></a></th>
      </tr>
    </table>
    </div>
    <!--background-image: url('../../assets/bg_2.jpeg ');color: aliceblue;  -->
  <main class="container" style="background-color:#f8eded">
    
      <div class="leftc">
          <img src="../../assets/Marshall.jpeg"height="250">
          <br><br><br>
          <img src="../../assets/boat.jpeg"height="250">
          <br><br><br><br>
          <img src="../../assets/Oneplus.jpeg"height="250">
          <br><br><br>
          <img src="../../assets/Dell.jpeg"height="250">
          <br><br><br>
          <img src="../../assets/Fossil.jpeg"height="250">
          <br><br><br>
          <img src="../../assets/Nikon.jpeg"height="250">
          <br><br><br>
      </div>
  
  
      <div class="rightc">
          <div class="MAIN PRODUCT DETAILS">
              <h1>Marshall Acton II Bluetooth Speaker</h1>
            <span><strong>DETAILS:</strong> </span>
            <p>
              Bluetooth:Yes<br>
              Audio Jack:3.5 mm<br>
              Multipoint Connectivity:Yes<br>
              Bluetooth version:v5.0<br>
          </p>
          <p><strong>COST: 19,999</strong></p>
           <button type="button"><strong>BUY NOW</strong></button>
  
         
           <br><br><br>
          <h1>boAt Rockerz 400 Bluetooth Headset</h1>
          <span><strong>DETAILS:</strong> </span>
          <p>
              With Mic:Yes<br>
              Bluetooth version: 5.0
              <br>Wireless range: 10 m
              <br>Battery life: 8 hrs <br>
        </p>
        <p><strong>COST: 999</strong></p>
        <button type="button"><strong>BUY NOW</strong></button>
  
        <br><br><br>
  
        <h1>OnePlus Nord</h1>
        <span><strong>DETAILS:</strong> </span>
        <p>
          16.36 cm (6.44 inch) display<br>48 MP + 8 MP + 5 MP + 2 MP primary camera<br>32 MP + 8 MP selfie camera<br>Qualcomm Snapdragon 765G processor
      </p>
      <p><strong>COST: 29,999</strong></p>
      <button type="button"><strong>BUY NOW</strong></button>
  
      <br><br><br>
      <h1>DELL Inspiron 3501 15.6-inch FHD Laptop</h1>
        <span><strong>DETAILS:</strong> </span>
        <p>
          15.6-inch FHD (1920 x 1080)<br> An ti-Glare LED-Backlit Non-touch Display<br>8GB, DDR4, 2666MHz | Intel(R) Core(TM) i3 Processor Label
      </p>
      <p><strong>COST: 49,999</strong></p>
      <button type="button"><strong>BUY NOW</strong></button>
  
      <br><br><br>
      <h1>Fossil Minimalist Two-Hand Black Leather Watch</h1>
        <span><strong>DETAILS:</strong> </span>
        <p>
          Case Size: 44 mm<br>Strap Material: Leather<br>Water Resistance: 3 ATM<br>Case Color: Black<br>
      </p>
      <p><strong>COST:9,500</strong></p>
      <button type="button"><strong>BUY NOW</strong></button>
  
      <br><br><br>
      <h1>Nikon D3500 DSLR Camera</h1>
        <span><strong>DETAILS:</strong> </span>
        <p>
          Lens Type: NIKKOR 18-55mm Lens VR Lens<br>Megapixel & Sensor Type: 24.2<br> MEGAPIXEL CMOS SENSORAuto Focus Points: 11 POINT<br> AUTO FOCUS POINTSISO Range: ISO 100-25600
      </p>
      <p><strong>COST:36,499</strong></p>
      <button type="button"><strong>BUY NOW</strong></button>
    </div>
  </div>
