<!-- <div class="topnav">
    
    <table id="nav_table" >
        <tr>
             <th><a routerLink="/Register"><span style="color:white;font-size: 18px;font-family: Verdana, Geneva, Tahoma, sans-serif;">Register</span></a></th>
             <th><a routerLink="/Login"><span style="color:white;font-size: 18px;font-family: Verdana, Geneva, Tahoma, sans-serif;">Login</span></a></th>
        </tr>      
        
    </table> 
    
  </div>

<div>
<div class="register" >
  
  <h2>Register Here</h2>
    <form method="POST" id="reg_form" [formGroup]="registerForm" (ngSubmit)="submitForm()" novalidate>
      

        <label> Name:</label><span class="star">*</span><br>
        <input type="text" id="name" name="customer_name" formControlName="customer_name"><br><br>

        <label>Date of Birth:</label><span class="star">*</span><br>
        <input type="date" id="name" name="customer_dob" formControlName="customer_dob"><br><br>

        <label>Email id:</label><span class="star">*</span><br>
        <input type="email" id="name" name="user_email" formControlName="user_email"><br><br>

        <label>Phone No:</label><span class="star">*</span><br>
        <select id="phn">
            <option>Code</option>
            <option>+91</option>
            <option>+1</option>
            <option>+92</option>
            <option>+93</option>
            <option>+94</option>
        </select>&nbsp;
        <input type="tel" id="num" name="phone_number" formControlName="phone_number" ><br><br>

        <label>User Name: </label><span class="star">*</span><br>
        <input type="text" id="name" name="user_name" formControlName="user_name"><br><br>

        <label> Password:</label><span class="star">*</span><br>
        <input type="password" id="name" name="user_password" formControlName="user_password"><br><br>

        <label> Confirm password: </label><span class="star">*</span><br>
        <input type="password" id="name" name="confirm_password" ><br><br>

        <label> Address:</label><span class="star">*</span><br>
        <textarea id="name" rows="5" cols="50" name="user_address" formControlName="user_address"></textarea><br><br>

       

        <label id="c"> Card Type:  </label><span class="star">*</span><br>
        <div class="item">
            <label ><input type="radio" id="cardtype"  name="cardtype_id" formControlName="cardtype_id">&nbsp;<span>Gold</span>&nbsp;&nbsp;&nbsp;</label>     
        
        
            <label><input type="radio" id="cardtype"  name="cardtype_id" formControlName="cardtype_id">&nbsp;<span>Titanium</span></label><br><br>
            
        </div>
        
        <label> Card Fee:</label><span class="star">*</span><br>
        <div class="item">
         <label >  <input type="checkbox" id="card_fee" name="haspaid" formControlName="haspaid">&nbsp;(Check to pay processing fee ₹153.00)</label>
        </div><br>

        

        <label> PAN No:</label><span class="star">*</span><br>
        <input type="text" id="name" name="pan_number" formControlName="pan_number"><br><br>

        

        <label>Select Bank:</label><span class="star">*</span><br>
        <select id="bank" name="bank_id" formControlName="bank_id">
         <option>Select</option>
            <option>AXIS</option>
            <option>HDFC</option>
            <option>ICICI</option>
            <option>SBI</option> 
        </select><br><br>

        <label> Savings Account No:</label><span class="star">*</span><br>
        <input type="tel" id="name" name="account_number" formControlName="account_number"><br><br>

        <label>IFSC code: </label><span class="star">*</span><br>
        <input type="text" id="name" name="IFSC_code" formControlName="IFSC_code"><br><br><br>


        <input type="submit" value="REGISTER" id="button" >&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="reset" value="RESET" id="button"  style="margin-left: 30px;">

        <div>
            <label>
               <p> Already Registered?&nbsp;<a routerLink="/Login"><span style="color: red;">Login Here</span></a></p>
            </label>
        </div>


    </form>
</div>
</div>

 pattern="^(?=.[A-Za-z])(?=.\d)[A-Za-z\d]{8,}$"

  <div *ngIf="user_password.errors?.pattern"> Must contain at least one number and one uppercase
                    and
                    lowercase letter, and at least 8 or more characters.</div>

-->


<div class="topnav">
    
    <table id="nav_table" >
        <tr>
             <th><a routerLink="/Register"><span style="color:white;font-size: 18px;font-family: Verdana, Geneva, Tahoma, sans-serif;">Register</span></a></th>
             <th><a routerLink="/Login"><span style="color:white;font-size: 18px;font-family: Verdana, Geneva, Tahoma, sans-serif;">Login</span></a></th>
        </tr>      
        
    </table> 
    
  </div>

  <div style="background-image: url('../../assets/bg_1.jpeg') ; background-repeat: no-repeat;background-size: 100% 100%;">

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
crossorigin="anonymous"></script>


<div style="margin-top: 10px; width: 600px;background-color: #DDD5D3;" class="card">
<div class="card-header">
    Register Here
</div>
<div class="card-body">
    <form #f="ngForm"novalidate (ngSubmit)=onSubmit(f) >
        <div class="form-group">
            <label for="registerName">Name</label>
            <input type="text" name="customer_name" [(ngModel)]="register.customer_name" required #customer_name="ngModel" class="form-control"
                id="customer_name" placeholder="Enter Name">
        </div>

        <div *ngIf=" customer_name.invalid && (f.submitted || customer_name.touched)"
        class="alert alert-danger">
        <div *ngIf="customer_name.errors?.required"> Name is required. </div>
    </div>

        <!-- <div *ngIf="!customer_name?.valid && (customer_name?.dirty || customer_name?.touched)" class="alert alert-danger">

            <div *ngIf="customer_name.errors.required">
        
               Name is required
        
            </div>
        </div> -->

        <div class="form-group">
            <label for="registerEmail">Email</label>
            <input type="email" name="user_email" class="form-control" [(ngModel)]="register.user_email" required
                #user_email="ngModel" id="user_email" placeholder="Enter email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,3}$">
        </div>

        <div *ngIf=" user_email.invalid && (f.submitted || user_email.touched)"
        class="alert alert-danger">
        <div *ngIf="user_email.errors?.required"> Email is required. </div>
        <div *ngIf="user_email.errors?.pattern"> Invalid Email. </div>
    </div>


        <div class="form-group">
            <label for="registerPhone">Phone Number</label>
            <input type="tel" name="phone_number" class="form-control" [(ngModel)]="register.phone_number" required
                minlength="10" maxlength="10" id="phone_number" #phone_number="ngModel" placeholder="Enter Phone Number">
        </div>

        <div *ngIf=" phone_number.invalid && (f.submitted || phone_number.touched)"
        class="alert alert-danger">
        <div *ngIf="phone_number.errors?.required"> Phone number is required. </div>
    </div>

        <div class="form-group">
            <label for="registerUsername">Username</label>
            <input type="text" name="user_name" class="form-control" [(ngModel)]="register.user_name" required
                #user_name="ngModel" id="user_name" placeholder="Enter username">
        </div>

        <div *ngIf=" user_name.invalid && (f.submitted || user_name.touched)"
        class="alert alert-danger">
        <div *ngIf="user_name.errors?.required"> User name is required. </div>
    </div>

        <div class="form-group">
            <label for="userDOB">Date of Birth</label>
            <input type="date" name="customer_dob" class="form-control" [(ngModel)]="register.customer_dob" required
                #customer_dob="ngModel" id="customer_dob" placeholder="Enter Date of Birth">
        </div>

        <div *ngIf=" customer_dob.invalid && (f.submitted || customer_dob.touched)"
        class="alert alert-danger">
        <div *ngIf="customer_dob.errors?.required"> Date of Birth is required. </div>
    </div>
  

        <div class="form-group">
            <label for="registerPassword">Password</label>
            <input type="password" name="user_password" class="form-control" [(ngModel)]="register.user_password" required
                #user_password="ngModel" id="user_assword" placeholder="Password" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{7,}"
                />
            <div *ngIf="user_password.invalid && (f.submitted || user_password.touched)" class="alert alert-danger">
                <div *ngIf="user_password.errors?.required"> Password is required. </div>
                <div *ngIf="user_password.errors?.pattern">
                    Password should contain:
                     <ul>
                         <li>minimum length of 8 characters</li>
                         <li>atleast one number, uppercase, lowercase, special character </li>
                       
                        
                     </ul>  
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="registerCpassword">Confirm Password</label>
            <input type="password" name="confirmpassword" class="form-control" ngModel required
                #confirmpassword="ngModel" id="confirmpassword" placeholder="Enter Password again"
                pattern="{{ user_password.value }}" />
            <div *ngIf=" confirmpassword.invalid && (f.submitted || confirmpassword.touched)"
                class="alert alert-danger">
                <div *ngIf="confirmpassword.errors?.required"> Confirm password is required. </div>
                <div *ngIf="confirmpassword.errors?.pattern"> Password does not match.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="registerAddress">Address</label>
            <textarea class="form-control" [(ngModel)]="register.user_address" required name="user_address"
                #user_address="ngModel" id="user_address" placeholder="Enter Address"></textarea>
        </div>

        <div *ngIf=" user_address.invalid && (f.submitted || user_address.touched)"
        class="alert alert-danger">
        <div *ngIf="user_address.errors?.required"> Address is required. </div>
    </div>
        
        <div class="form-group">
            <label for="registerCardtype">Card Type</label><br/>
            <label><input type="radio"  [(ngModel)]="register.cardtype_id" name="cardtype_id" value=2 checked=true>
              &nbsp;  Titanium</label> &nbsp;&nbsp;&nbsp;
            <label><input type="radio" [(ngModel)]="register.cardtype_id" name="cardtype_id" value=1 >
            &nbsp; Gold</label>
        </div>
      

        <div class="form-group">
            <label for="registerBank">Bank Name</label>
            <input type="text" class="form-control" [(ngModel)]="register.bank_name" required name="bank_name"
                #bank_name="ngModel" id="bank_name" placeholder="Enter Bank Name">
        </div>

        <div *ngIf=" bank_name.invalid && (f.submitted || bank_name.touched)"
        class="alert alert-danger">
        <div *ngIf="bank_name.errors?.required"> Bank is required. </div>
    </div>

        <div class="form-group">
            <label for="registerSavingsinfo">Savings Account Info</label>
            <input type="text" class="form-control" [(ngModel)]="register.account_number" required
                name="account_number" #account_number="ngModel" id="account_number" maxlength="15" minlength="11"
                placeholder="Enter Savings Account Info">
        </div>

        <div *ngIf=" account_number.invalid && (f.submitted || account_number.touched)"
        class="alert alert-danger">
        <div *ngIf="account_number.errors?.required"> Account number is required. </div>
        <div *ngIf="account_number.errors?.maxlength">Maximum length is 15</div>
        <div *ngIf="account_number.errors?.minlength">Minimum length is 11</div>
    </div>

        <div class="form-group">
            <label for="registerIfsc">IFSC Code</label>
            <input type="text" class="form-control" [(ngModel)]="register.IFSC_code" required name="IFSC_code"
                #IFSC_code="ngModel" id="IFSC_code" placeholder="Enter IFSC Code">
        </div>

        <div *ngIf=" IFSC_code.invalid && (f.submitted || IFSC_code.touched)"
        class="alert alert-danger">
        <div *ngIf="IFSC_code.errors?.required"> IFSC code is required. </div>
    </div>

        <div class="form-group">
        <label for="pan_number">PAN Number</label><br>
        <input type="text" [(ngModel)]="register.pan_number" required id="pan_number" #pan_number="ngModel" class="form-control" 
        placeholder="Enter PAN Number"  name="pan_number" pattern="([A-Z]){5}([0-9]){4}([A-Z]){1}$">
        </div>

        <div *ngIf="pan_number.invalid && (f.submitted || pan_number.touched)" class="alert alert-danger">
            <div *ngIf="pan_number.errors?.required"> Password is required. </div>
            <div *ngIf="pan_number.errors?.pattern">
                Incorrect PAN Number
                  
            </div>
        </div>

        <div class="form-group">
            <label for="RegisterCardFee">Processing Fee</label> <br/>
            <input type="checkbox" 
           style="height: 20px;width: 20px;" class="checkbox" [(ngModel)]="register.haspaid" required name="haspaid"
                #haspaid="ngModel" id="haspaid"> &nbsp;<span>(Check if processing fee ₹153.00 is paid)</span>
        </div>

        <div *ngIf=" haspaid.invalid && (f.submitted || haspaid.touched)"
        class="alert alert-danger">
        <div *ngIf="haspaid.errors?.required"> Required. </div>
    </div>

        <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Register </button>

        &nbsp;
        <button type="button" class="btn btn-primary" (click)="f.reset()">Reset</button>
        <p>Already a user?
            <a routerLink="/Login">Login</a>
        </p>
    </form>
</div>
</div>
<br>
<style>
    .card-header{
        text-align: center;
    }
</style>